<div class="charts-container" id="person-charts">
  <div class="bar-chart">
    <p class="chart-label"><b>Persone rilevate</b></p>
    <app-people-bar-chart></app-people-bar-chart>
  </div>
  <div class="pie-chart">
    <app-people-pie-chart></app-people-pie-chart>
  </div>
  <!-- <div class="label-on-chart"> -->
    <!-- <div class="row-flexbox buttons-on-chart">
      <button (click)="buttonsChangeColorOnClick(0, 'people-chart')"
        [ngClass]="{'green-button' : togglePeopleChartGroup[0], 'white-button': !togglePeopleChartGroup[0]}">Tutti</button>
      <button (click)="buttonsChangeColorOnClick(1, 'people-chart')"
        [ngClass]="{'green-button' : togglePeopleChartGroup[1], 'white-button': !togglePeopleChartGroup[1]}">Container
        1</button>
      <button (click)="buttonsChangeColorOnClick(2, 'people-chart')"
        [ngClass]="{'green-button' : togglePeopleChartGroup[2], 'white-button': !togglePeopleChartGroup[2]}">Container
        2</button>
      <button (click)="buttonsChangeColorOnClick(3, 'people-chart')"
        [ngClass]="{'green-button' : togglePeopleChartGroup[3], 'white-button': !togglePeopleChartGroup[3]}">Container
        3</button>
    </div> -->
  <!-- </div> -->
</div>
<div class="charts-container">
  <div class="bar-chart">
    <p class="chart-label"><b>Allarmi</b></p>
    <app-alarms-bar-chart></app-alarms-bar-chart>
  </div>
  <div class="pie-chart">
    <app-alarms-pie-chart></app-alarms-pie-chart>
  </div>
  <!-- <div class="label-on-chart"> -->
    <!-- <p class="chart-label"><b>Allarmi</b></p>
    <div class="row-flexbox buttons-on-chart">
      <button (click)="buttonsChangeColorOnClick(0, 'alarms-chart')"
        [ngClass]="{'green-button' : toggleAlarmsChartGroup[0], 'white-button': !toggleAlarmsChartGroup[0]}">Tutti</button>
      <button (click)="buttonsChangeColorOnClick(1, 'alarms-chart')"
        [ngClass]="{'green-button' : toggleAlarmsChartGroup[1], 'white-button': !toggleAlarmsChartGroup[1]}">Container
        1</button>
      <button (click)="buttonsChangeColorOnClick(2, 'alarms-chart')"
        [ngClass]="{'green-button' : toggleAlarmsChartGroup[2], 'white-button': !toggleAlarmsChartGroup[2]}">Container
        2</button>
      <button (click)="buttonsChangeColorOnClick(3, 'alarms-chart')"
        [ngClass]="{'green-button' : toggleAlarmsChartGroup[3], 'white-button': !toggleAlarmsChartGroup[3]}">Container
        3</button> -->
  <!-- </div> -->
<!-- </div>
<div class="counter-on-pie-chart">
  <img id="pie-2" src="assets/torta-allarmi.png" alt="">
  <div class="text">
    <p class="number"><b>7</b></p>
    <p>Allarmi</p>
  </div>
</div> -->
</div>