<div class="charts-container" id="person-charts">
  <div class="bar-chart">
    <p class="chart-label"><b>Persone rilevate</b></p>
    <div class="row-flexbox buttons-on-chart mat-buttons">
        <button mat-raised-button [color]="peopleButtonsColor['Tutti']" (click)="updateChartByClick($event, 'people', 'Tutti')">Tutti</button>
        <button mat-raised-button [color]="peopleButtonsColor['Container 1']" (click)="updateChartByClick($event, 'people', 'Container 1')">Container
          1</button>
        <button mat-raised-button [color]="peopleButtonsColor['Container 2']" (click)="updateChartByClick($event, 'people', 'Container 2')">Container
          2</button>
        <button mat-raised-button [color]="peopleButtonsColor['Container 3']" (click)="updateChartByClick($event, 'people', 'Container 3')">Container
          3</button>
      </div>
    <bar-chart [dataAssets]="'people'" [setContainer]="peopleButtonClicked" [color]="'#44b182'" [dateBegin]="dateBeginSelected" [dateEnd]="dateEndSelected"></bar-chart>
  </div>
  <div class="pie-chart">
    <pie-chart [dataAssets]="'people'" [dateBegin]="dateBeginSelected" [dateEnd]="dateEndSelected"></pie-chart>
  </div>
</div>
<div class="charts-container">
  <div class="bar-chart">
    <p class="chart-label"><b>Allarmi</b></p>
    <div class="row-flexbox buttons-on-chart mat-buttons ">
      <button mat-raised-button [color]="alarmsButtonsColor['Tutti']" (click)="updateChartByClick($event, 'alarms', 'Tutti')">Tutti</button>
      <button mat-raised-button [color]="alarmsButtonsColor['Container 1']" (click)="updateChartByClick($event, 'alarms', 'Container 1')">Container
        1</button>
      <button mat-raised-button [color]="alarmsButtonsColor['Container 2']" (click)="updateChartByClick($event, 'alarms', 'Container 2')">Container
        2</button>
      <button mat-raised-button [color]="alarmsButtonsColor['Container 3']" (click)="updateChartByClick($event, 'alarms', 'Container 3')">Container
        3</button>
    </div>
    <bar-chart [dataAssets]="'alarms'" [setContainer]="alarmsButtonClicked" [color]="'#ff0309'" [dateBegin]="dateBeginSelected" [dateEnd]="dateEndSelected"></bar-chart>
  </div>
  <div class="pie-chart">
    <pie-chart [dataAssets]="'alarms'" [dateBegin]="dateBeginSelected" [dateEnd]="dateEndSelected"></pie-chart>
  </div>
</div>