@import "../../../styles.scss"; // temp
// ? ---- Charts view ------------------------------------------
$charts-height: 288px;

.charts-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
  width: 100%;
  height: 400px;
  @media (max-width: 1218px) {
    flex-direction: column;
    height: 840px !important;
  }
}
// TODO rivedere le misure della toolbar
.bar-chart{
  position: relative;
  background-color: $gray;
  width: calc(100% - 420px);
  height: 400px;
  margin-right: 20px;
  @media (max-width: 1218px) {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

.pie-chart{
  height: 400px;
}

.buttons-on-chart {
  position: absolute;
  right: 4%;
  justify-content: space-between !important;
  width: 40% !important;
  top: 12px;
  height: 7% !important;

  button {
    padding: 0 4% 0 4%; //top right bottom left
  }
}

.chart-label{
  position: absolute;
  top: 5px;
  left: 4%;
  font-size: medium;
  color: $dark-gray;
}