@import '../styles.scss';

$buttons-border-radius: 6%;
$nav-height: 80px !important;
$buttons-height: 38px;
$buttons-min-width: 38px;
.nav {
  position: fixed;
  z-index: 9999;
  background-color: $green;
  top: 0;
  left: 0;
  height: $nav-height;
  flex-wrap: nowrap;
  justify-content: flex-start !important;
}

#logo {
  min-width: 182px;
  margin-right: 10px;
  margin-left: 10px;
  
  img {
    transform: scale(0.9);
    object-fit: cover;
  }
}

// TODO allineare le icone

.buttons {
  justify-content: space-between !important;
  flex-wrap: nowrap;
  margin-right: 2%;
  width: 20rem;
  height: 100%;
}

p {
  font-family: $font;
}

.img-to-space{
  margin-right: 4%;
}

.img-container {
  border-radius: $buttons-border-radius;
  height: $buttons-height;
  width: 25%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $buttons-min-width;

  img {
    width: 120%;
    height: 120%;
    min-width: $buttons-min-width;
    border-radius: $buttons-border-radius;
    margin: -5px;
  }
}

#zoom-in{
  border-right: 0.1px solid rgba(255, 255, 255, 0.4);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: $buttons-border-radius 0 0 $buttons-border-radius;
}


#zoom-out{
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 $buttons-border-radius $buttons-border-radius 0;
}

.buttons-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end !important;
  width: 100%;
}