<nav class="nav row-flexbox">
  <div id="logo">
    <img src="assets/logo.png" alt="Logo AngularTimeAnalytics">
  </div>
  <div class="buttons-container">
    <div class="buttons row-flexbox">
      <div class="row-flexbox">      
        <button mat-raised-button disabled class="disa"><mat-icon>videocam</mat-icon></button>
        <button mat-raised-button disabled><mat-icon>check_box_outline_blank</mat-icon></button>
      </div>
      <div class="row-flexbox">
        <button mat-raised-button disabled><mat-icon>zoom_in</mat-icon></button>
        <button mat-raised-button disabled><mat-icon>zoom_out</mat-icon></button>
        <button mat-raised-button disabled><mat-icon>zoom_out_map</mat-icon></button>
      </div>
      <div class="row-flexbox">
        <button mat-raised-button><mat-icon>settings</mat-icon></button>
        <button mat-raised-button color="primary" id="statistic-button"><mat-icon>bar_chart</mat-icon></button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>