<nav class="nav row-flexbox">
  <div id="logo">
    <a href=""><img src="assets/logo-mermec.png" alt="Logo mermec"></a>
  </div>
  <div class="buttons">
    <div>
      <a href=""><img src="assets/camera-dimmed.png" alt=""></a>
      <a href=""><img src="assets/container-dimmed.png" alt=""></a>
    </div>
    <div class="align-img"><!-- TODO questa classe non funziona e c'è una spaziatura strana a lato di un bottone -->
      <a href=""><img src="assets/zoom-in-dimmed.png" alt=""></a>
      <a href=""><img src="assets/zoom-out-dimmed.png" alt=""></a>
      <a href=""><img src="assets/zoom-out-map-dimmed.png" alt=""></a>
    </div>
    <div>
      <a href=""><img src="assets/settings.png" alt=""></a>
      <a href=""><img src="assets/statistiche-on.png" alt=""></a>
    </div>

  </div>
</nav>
<router-outlet></router-outlet>