@import '../styles.scss';

$buttons-border-radius: 6%;
$nav-height: 80px !important;
$buttons-height: 40px;
$buttons-min-width: 40px;
.nav {
  position: fixed;
  z-index: 9999;
  background-color: $green;
  top: 0;
  left: 0;
  height: $nav-height;
  padding-left: 1%;
  flex-wrap: nowrap;
  justify-content: flex-start !important;
}

#logo {
  width: 10rem;
  height: 60%;

  img {
    height: 100%;
    width: 100%;
  }
}

// TODO allineare le icone

.buttons {
  justify-content: space-between !important;
  flex-wrap: nowrap;
  position: relative;
  // TODO perché?
  right: -69%;
  top: 40%;
  margin-right: 2%;
  width: 30%;
  height: 20%;
}

p {
  font-family: $font;
}

.img-to-space{
  margin-right: 4%;
}

.img-container {
  border-radius: $buttons-border-radius;
  height: $buttons-height;
  width: 25%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $buttons-min-width;

  img {
    width: 120%;
    height: 120%;
    min-width: $buttons-min-width;
    border-radius: $buttons-border-radius;
    margin: -5px;
  }
}

#zoom-in{
  border-right: 0.1px solid rgba(255, 255, 255, 0.4);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: $buttons-border-radius 0 0 $buttons-border-radius;
}


#zoom-out{
  border-right: 0.1px solid rgba(255, 255, 255, 0.4);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 $buttons-border-radius $buttons-border-radius 0;
}

.absolute-container{
  position: absolute;
  width: 100%;
  height: 100%;
}