@import '../styles.scss';

$buttons-border-radius: 6%;
$nav-height: 80px !important;
$buttons-height: 38px;
$buttons-min-width: 38px;

.nav {
  position: fixed;
  z-index: 9999;
  background-color: $green;
  top: 0;
  left: 0;
  height: $nav-height;
  flex-wrap: nowrap;
  justify-content: flex-start !important;
}

// ? --- logo ----
#logo {
  min-width: 182px;
  margin-right: 10px;
  margin-left: 10px;
  
  img {
    transform: scale(0.9);
    object-fit: cover;
  }
}

// ? --- buttons ----
.buttons-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end !important;
  width: 100%;
}

.buttons {
  justify-content: space-between !important;
  flex-wrap: nowrap;
  margin-right: 10px;
  width: 30%;
  min-width: 326px;
  height: 100%;
  button{
    height: 40px !important;
    width: 40px !important;
    min-width: 40px !important;
    margin-right: 4px;
  }
  mat-icon {
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-left: 9px;
    min-width: 18px;
  }
}