@import "../../../styles.scss";
$select-container-width: 280px;
$toolbar-height: 1.8rem;
$interval-container-width: 812px;

// ? ---- Interval selector -------------------------------

.toolbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 2%;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.interval-preset {
  width: 36%;
  justify-content: space-between !important;
  min-width: 458px;

  p {
    white-space: nowrap;
  }

  button {
    height: 30px;
    padding: 0 3% 0 3%; //top right bottom left
  }
}

.interval-date-time {
  width: 48.5%;
  min-width: 253px;
  input{
    width: 50% !important;
    min-width: 165px;
    margin-right: 20px;
  }

  select{
    min-width: 52px;
    width: 20% !important;
  }
}

#interval-begin{
  justify-content: flex-start !important;
}

#interval-end{
  justify-content: flex-end !important;
}

.interval-time-flexbox {
//   height: $toolbar-height;
//   min-width: 136px;
  width: 10%;
}

#time-interval {
  height: $toolbar-height;
  min-width: 136px;
  width: 6%;
  gap:5%;

  select {
    width: 55%;
  }
}

// ? ---- Icons inside inputs ---------------------------------

.icon-inside-input {
  position: absolute;
  right: 2%;
  height: 53%;
  width: 7%;
}

// //TODO when focused a strange border appears
.input-with-icon-container {
  position: relative;
  display: inline-block;
  margin-right: 2%;
  height: 100%;
  width: 100%;

  input {
    width: 100%;
    height: 100%;
  }
}

// TODO cambiare la freccina alla select

#interval {
  justify-content: space-between !important;
  height: $toolbar-height;
}

.interval-container{
  width: 62%;
  gap: 2%;
  min-width: 670px;
  align-items: flex-start !important;
  flex-direction: row !important;
  @media (max-width: 716px) {
    #time-interval{
      margin-top: 10px;
    }
    flex-direction: column !important;
    #interval{
      margin-top: 10px;
    }
  }
  @media(min-width: 717px ) and (max-width: 1348px){
    margin-top: 10px;
  }
} 

.interval-begin-end-container{
  width: 92%;
}

.divider{
  width: 3%;
  text-align: center;
}