<div class="row-flexbox interval-flexbox">
  <div class="row-flexbox interval-preset">
    <p>Quick preset:</p>
    <button (click)="buttonsChangeColorOnClick(0)"
      [ngClass]="{'green-button' : toggleGroup[0], 'white-button': !toggleGroup[0]}">Ultima ora</button>
    <button (click)="buttonsChangeColorOnClick(1)"
      [ngClass]="{'green-button' : toggleGroup[1], 'white-button': !toggleGroup[1]}">Oggi</button>
    <button (click)="buttonsChangeColorOnClick(2)"
      [ngClass]="{'green-button' : toggleGroup[2], 'white-button': !toggleGroup[2]}">Ieri</button>
    <button (click)="buttonsChangeColorOnClick(3)"
      [ngClass]="{'green-button' : toggleGroup[3], 'white-button': !toggleGroup[3]}">Ultima
      settimana</button>
    <button (click)="buttonsChangeColorOnClick(4)"
      [ngClass]="{'green-button' : toggleGroup[4], 'white-button': !toggleGroup[4]}">Ultimo mese</button>
  </div>
  <div class="row-flexbox" id="interval">
    <div class="row-flexbox interval-date-time">
      <div class="input-with-icon-container">
        <input type="text" placeholder="Intervallo temporale - Inizio">
        <img src="assets/calendario.png" alt="" class="icon-inside-input">
      </div>
      <select name="" id="">
        <option value="" disabled selected hidden>Ora: </option>
        <option value="" *ngFor="let time of time_interval;">{{time}}</option>
      </select>
    </div>
    <p> - </p>
    <div class="row-flexbox interval-date-time">
      <div class="input-with-icon-container">
        <input type="text" placeholder="Intervallo temporale - Fine">
        <img src="assets/calendario.png" alt="" class="icon-inside-input">
      </div>
      <select name="" id="">
        <option value="" disabled selected hidden>Ora: </option>
        <option value="" *ngFor="let time of time_interval;">{{time}}</option>
      </select>
    </div>
  </div>
  <div class="row-flexbox" id="time-interval">
    <p>Intervallo:</p>
    <select name="" id="">
      <option value="" *ngFor="let time of amount_time_interval;">{{time}}</option>
    </select>
  </div>
</div>