<div class="toolbar-container row-flexbox">
  <div class="interval-preset mat-buttons">
    <small>Quick preset:</small>
    <button mat-raised-button [color]="buttonsColor['Ultima ora']" (click)="updateChartByClick($event, 'Ultima ora')">Ultima ora</button>
    <button mat-raised-button [color]="buttonsColor['Oggi']" (click)="updateChartByClick($event, 'Oggi')">Oggi</button>
    <button mat-raised-button [color]="buttonsColor['Ieri']" (click)="updateChartByClick($event, 'Ieri')">Ieri</button>
    <button mat-raised-button [color]="buttonsColor['Ultima settimana']" (click)="updateChartByClick($event, 'Ultima settimana')">Ultima settimana</button>
    <button mat-raised-button [color]="buttonsColor['Ultimo mese']" (click)="updateChartByClick($event, 'Ultimo mese')">Ultimo mese</button>
  </div>
  <div class="row-flexbox interval-container">
    <mat-form-field class="date-picker">
      <mat-label>Inizio temporale - Inizio</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" [(ngModel)]="dateBeginDatePicker" (ngModelChange)="sendData()">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="select">
      <mat-label>Ora</mat-label>
      <mat-select [(ngModel)]="selectBeginTime">
        <mat-option *ngFor="let time of time_interval;" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p id="divider"><b> - </b></p>
    <mat-form-field class="date-picker">
      <mat-label>Intervallo temporale - Fine</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="dateEndDatePicker" (ngModelChange)="sendData()">
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="select">
      <mat-label>Ora: </mat-label>
      <mat-select [(ngModel)]="selectEndTime">
        <mat-option *ngFor="let time of time_interval;" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="row-flexbox" id="time-interval">
      <mat-form-field class="select">
        <mat-label>Intervallo</mat-label>
        <mat-select [(ngModel)]="intervallo" (ngModelChange)="sendData()">
          <mat-option *ngFor="let time of amount_time_interval;" [value]="time">
            {{time}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>