<div class="toolbar-container row-flexbox">
  <div class="interval-preset mat-buttons">
    <small>Quick preset:</small>
    <button mat-raised-button [color]="buttonsColor['Last hour']" (click)="updateChartByClick($event, 'Last hour')">Last hour</button>
    <button mat-raised-button [color]="buttonsColor['Today']" (click)="updateChartByClick($event, 'Today')">Today</button>
    <button mat-raised-button [color]="buttonsColor['Yesterday']" (click)="updateChartByClick($event, 'Yesterday')">Yesterday</button>
    <button mat-raised-button [color]="buttonsColor['Last week']" (click)="updateChartByClick($event, 'Last week')">Last week</button>
    <button mat-raised-button [color]="buttonsColor['Last month']" (click)="updateChartByClick($event, 'Last month')">Last month</button>
  </div>
  <div class="row-flexbox interval-container">
    <mat-form-field class="date-picker">
      <mat-label>Time interval - Begin</mat-label>
      <input matInput [matDatepicker]="picker" (focus)="picker.open()" [(ngModel)]="dateBeginDatePicker" (ngModelChange)="sendDataToCharts()">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="select">
      <mat-label>Hour</mat-label>
      <mat-select [(ngModel)]="selectBeginTime" (ngModelChange)="sendDataToCharts()">
        <mat-option *ngFor="let time of time_interval;" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p id="divider"><b> - </b></p>
    <mat-form-field class="date-picker">
      <mat-label>Time interval - End</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="dateEndDatePicker" (ngModelChange)="sendDataToCharts()">
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="select">
      <mat-label>Hour: </mat-label>
      <mat-select [(ngModel)]="selectEndTime" (ngModelChange)="sendDataToCharts()">
        <mat-option *ngFor="let time of time_interval;" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="row-flexbox" id="time-interval">
      <mat-form-field class="select">
        <mat-label>Interval</mat-label>
        <mat-select [(ngModel)]="Interval" (ngModelChange)="sendDataToCharts()">
          <mat-option *ngFor="let time of amount_time_interval;" [value]="time">
            {{time}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>