@import "../../../styles.scss";
$select-container-width: 280px;
$toolbar-height: 50px;
$interval-container-width: 812px;
$second-line-px: 1446px;

// ? ---- General container -------------------------------

.toolbar-container {
  justify-content: space-between !important;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

// ? ---- Buttons styles ----------------------------------

.interval-preset {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
  height: $toolbar-height;
  width: 39%;
  min-width: 536px;
}

// ? ---- Interval selector ------------------

.interval-container{
  // width: 835px;
  width: 812px;
  height: $toolbar-height;
  gap: 10px;

  // ? second line
  @media (max-width: $second-line-px){
    margin-top: 10px;
  }
}

.date-picker, .select{
  height: $toolbar-height;
}

.select{
  width: 100px;
}

.date-picker{
  width: 231px;
}

// ? ---- Selection date, frequency and time ---------
#divider{
  vertical-align: center;
}

#time-interval {
  height: $toolbar-height;
  width: 100px;
}