$select-container-width: 280px;
$toolbar-height: 1.8rem;
$interval-container-width: 812px;

// ? ---- Interval selector -------------------------------

.toolbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 2%;
  flex-wrap: wrap;
}

.interval-preset {
  width: 34%;
  justify-content: space-between !important;
  // max-height: 40px;
  // min-width: 540px;
  // margin-top: 20px;
  // margin-right: 40px;
  // height: $toolbar-height;

  p {
    white-space: nowrap;
  }

  button {
    height: 30px;
    padding: 0 3% 0 3%; //top right bottom left
  }
}

.interval-date-time {
  width: 48.5%;

}

.interval-time-flexbox {
//   height: $toolbar-height;
//   min-width: 136px;
  width: 10%;
}

#time-interval {
  height: $toolbar-height;
  min-width: 136px;
  width: 6%;
  gap:5%;

  select {
    width: 55%;
  }
}

// ? ---- Icons inside inputs ---------------------------------

.icon-inside-input {
  position: absolute;
  right: 2%;
  height: 53%;
  width: 7%;
}

// //TODO when focused a strange border appears
.input-with-icon-container {
  position: relative;
  display: inline-block;
  margin-right: 2%;
  height: 100%;
  width: 100%;

  input {
    width: 100%;
    height: 100%;
  }
}

// TODO cambiare la freccina alla select

#interval {
  justify-content: space-between !important;
  height: $toolbar-height;
}

.interval-container{
  width: 64%;
  gap: 2%;
  flex-wrap: nowrap;
}

.interval-begin-end-container{
  width: 92%;
}

.divider{
  width: 3%;
  text-align: center;
}