@import "../../../../styles.scss";

$chart-height: 350px;

.bar-chart-container {
  background-color: $gray;
  width: 100%;
  height: $chart-height;
  
}

.bar-chart {
  width: 100%;
  height: $chart-height;
  margin-top: 50px;
}