<div class="column-flexbox main-container">
  <div class="row-flexbox arrow-box">
    <img src="assets/arrow_back.png" alt=""><a href="" class="back-button"> Indietro</a>
  </div>
  <div class="row-flexbox interval-flexbox">
    <div class="row-flexbox interval-preset">
      <p>Quick preset:</p>
      <button class="preset-buttons" #button1 (click)="onButtonClick(button1)">Ultima ora</button>
      <button class="preset-buttons" #button2 (click)="onButtonClick(button2)">Oggi</button>
      <button class="preset-buttons" #button3 (click)="onButtonClick(button3)">Ieri</button>
      <button class="preset-buttons" #button4 (click)="onButtonClick(button4)">Ultima settimana</button>
      <button class="preset-buttons" #button5 (click)="onButtonClick(button5)">Ultimo mese</button>
    </div>
    <div class="row-flexbox interval-date-time">
      <!-- TODO guardare come mettere l'icona -->
      <input type="text" placeholder="Intervallo temporale - Fine">
      <select name="" id="">
        <option value="" *ngFor="let time of time_interval;">{{time}}</option>
      </select>
    </div> 
    <div class="row-flexbox interval-date-time">
      <input type="text" placeholder="Intervallo temporale - Fine">
      <select name="" id="">
        <option value="" *ngFor="let time of time_interval;">{{time}}</option>
      </select>
    </div>
    <div class="row-flexbox interval-time-flexbox">
      <p>Intervallo:</p>
      <select name="" id="">
        <option value="" *ngFor="let time of amount_time_interval;">{{time}}</option>
      </select>
    </div>
  </div>
  <div class="row-flexbox charts-container" id="person-chart">
    <img class="bar-chart" src="assets/chart-persone.png" alt="">
    <img class="pie-chart" src="assets/torta-persone.png" alt="">
  </div>
  <div class="row-flexbox charts-container">
    <img class="bar-chart" src="assets/chart-allarmi.png" alt="">
    <img class="pie-chart" src="assets/torta-allarmi.png" alt="">
  </div>
  <img id="logo-aida" src="assets/logo-aida.png" alt="">
</div>
