  @import "../../styles.scss";

  .main-container {
    width: calc(100% - 30px);
  }

  // ? ---- Back button -------------------------------------
  .back-button{
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon{
      height: 22px;
      width: 22px;
    }
  }