  .main-container {
    align-items: flex-start !important;
    justify-content: flex-start;
  }

  // ? ---- Back button -------------------------------------
  .arrow-box{
    justify-content: flex-start !important;
    img{
      width: 2%;
    }
  }

  .back-button {
    gap: 0.8%;
    text-decoration: none;
    color: black;
  }

  // ? ---- Interval selector -------------------------------

  .interval-flexbox {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-flow: row wrap;
    width: 100%;
    max-height:max-content;
    gap: 1%;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 2%;
      padding-bottom: 2%;
    }
  }

  .interval-preset {
    width: 40%;
    max-height: 40px;
    min-width: 540px;
    justify-content: space-around;
    height: 2rem;
    font-size: small;
    // TODO non va il font-family
    p {
      white-space: nowrap;
    }

    button {
      width: 9rem;
      height: 2rem;
      white-space: nowrap;
    }
  }

  // TODO ci sono degli spazi strani
  .interval-date-time {
    height: 2rem;
    width: 260px;
    min-width: 260px;
  }

  .interval-time-flexbox{
    height: 2rem;
    min-width: 136px;
    width: 10%;
  }

  // ? ---- Charts view -------------------------------

  .charts-container{
    justify-content: space-between;
    padding-top: 4%;
  }
  

  .bar-chart {
    width: 55rem;
    height: 20rem;
  }

  .pie-chart {
    position: relative;
    right: 0;
    width: 20rem;
    min-width: 330px;
    height: 20rem;
  }

  // ? ---- Logo --------------------------------------------

  #logo-aida{
    width: 8%;
    padding-top: 4%;
  }
  
  // ? ---- Icons inside inputs ---------------------------------

  .icon-inside-input{
    position: absolute;
    right: 0;
  }

  //TODO when focused a strange border appears
.input-with-icon-container {
  border: 1px solid black;
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 100%;
  input{
    width: 100%;
    // TODO la height qua non funziona ma non solo: la div è più alta rispetto al normale e l'input sta in alto
    height: 100%;
  }
}

      // TODO cambiare l'iconcina alla select

