<div class="column-flexbox main-container">
  <div class="row-flexbox arrow-box">
    <img src="assets/arrow_back.png" alt=""><a href="" class="back-button"> Indietro</a>
  </div>
  <div class="row-flexbox interval-flexbox">
    <div class="row-flexbox interval-preset">
      <p>Quick preset:</p>
      <button class="preset-buttons" #button1 (click)="onButtonClick(button1, 'preset')">Ultima ora</button>
      <button class="preset-buttons" #button2 (click)="onButtonClick(button2, 'preset')">Oggi</button>
      <button class="preset-buttons" #button3 (click)="onButtonClick(button3, 'preset')">Ieri</button>
      <button class="preset-buttons" #button4 (click)="onButtonClick(button4, 'preset')">Ultima settimana</button>
      <button class="preset-buttons" #button5 (click)="onButtonClick(button5, 'preset')">Ultimo mese</button>
    </div>
    <div class="row-flexbox interval-date-time">
      <div class="input-with-icon-container">
        <input type="text" placeholder="Intervallo temporale - Inizio">
        <img src="assets/calendario.png" alt="" class="icon-inside-input">
      </div>
      <select name="" id="">
        <option value="" disabled selected hidden>Ora: </option>
        <option value="" *ngFor="let time of time_interval;">{{time}}</option>
      </select>
    </div>
    <div class="row-flexbox interval-date-time">
      <div class="input-with-icon-container">
        <input type="text" placeholder="Intervallo temporale - Fine">
        <img src="assets/calendario.png" alt="" class="icon-inside-input">
      </div>
      <select name="" id="">
        <option value="" disabled selected hidden>Ora: </option>
        <option value="" *ngFor="let time of time_interval;">{{time}}</option>
      </select>
    </div>
    <div class="row-flexbox interval-time-flexbox">
      <p>Intervallo:</p>
      <select name="" id="">
        <option value="" *ngFor="let time of amount_time_interval;">{{time}}</option>
      </select>
    </div>
  </div>
  <div class="row-flexbox charts-container" id="person-charts">
    <div class="label-on-chart">
      <p><b>Persone rilevate</b></p>
        <div class="row-flexbox buttons-on-chart">
          <button class="people-chart" #container_button1 (click)="onButtonClick(container_button1, 'people-chart')">Tutti</button>
          <button class="people-chart" #container_button2 (click)="onButtonClick(container_button2, 'people-chart')">Container 1</button>
          <button class="people-chart" #container_button3 (click)="onButtonClick(container_button3, 'people-chart')">Container 2</button>
          <button class="people-chart" #container_button4 (click)="onButtonClick(container_button4, 'people-chart')">Container 3</button>
        </div>
      <img class="bar-chart"src="assets/chart-persone.png" alt="">
    </div>
    
    <img class="pie-chart" src="assets/torta-persone.png" alt="">
  </div>
  <div class="row-flexbox charts-container">
    <div class="label-on-chart">
      <p><b>Allarmi</b></p>
      <div class="row-flexbox buttons-on-chart">
        <button class="alarms-chart" #container_button5 (click)="onButtonClick(container_button5, 'alarms-chart')">Tutti</button>
        <button class="alarms-chart" #container_button6 (click)="onButtonClick(container_button6, 'alarms-chart')">Container 1</button>
        <button class="alarms-chart" #container_button7 (click)="onButtonClick(container_button7, 'alarms-chart')">Container 2</button>
        <button class="alarms-chart" #container_button8 (click)="onButtonClick(container_button8, 'alarms-chart')">Container 3</button>
      </div>
      <img class="bar-chart" src="assets/chart-allarmi.png" alt="">
    </div>
    <div class="counter-on-pie-chart">
      <img class="pie-chart" src="assets/torta-allarmi.png" alt="">
      <div class="text">
        <p class="number"><b>7</b></p>
        <p>Allarmi</p>
      </div>
    </div>
  </div>
  <img id="logo-aida" src="assets/logo-aida.png" alt="">
</div>